# Ambientes virtuais
.venv/
venv/
env/

# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

api_env
instance

# Banco de dados SQLite (se for de teste)
*.db

# Configurações IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db